* {
  outline: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  font-size: 100%;
  margin: 0 auto;

  max-width: 950px;
  padding: 0 8%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  margin-top: 1.75em;
}

.logo-img {
  height: 22px;
  margin-right: .7em;
}

.hero {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
}

.desc {
  margin-bottom: 2.7rem;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.333em;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
}

.text {
  flex: 0 43%;
}

.button {
  padding: 0 25px;
  line-height: 50px;
  height: 50px;
  border-radius: 4px;
  border: 0;
  background: #fff;
  color: #555;
  text-decoration: none;
  transition: 250ms ease-in-out;
  will-change: transform;
  box-shadow: 0 7px 29px 0 rgba(100,100,111,.2);
  border: 1px solid #eee;
}

.button:last-child {
  margin-top: 1em;
}

.button-principal {
  border: none;
  background: #03d05b;
  color: #fff;
  box-shadow: 0 7px 29px 0 rgba(0,255,111,.4);
}

.button svg {
  margin-right: .8em;
}

.button:hover {
  transform: translateY(-2px);
}



.button-principal:hover {
  box-shadow: 0 7px 34px 0 rgba(0,255,111,.7);
}

a.button {
  display: inline-block;
}

footer {
  padding: 1.5em 0;
  font-size: 14px;
  color: #999;
}

.video {
  flex: 1;
  text-align: right;
  display: flex;
  flex-direction: column;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
}

.demo-img {
  width: 80%;
  border-radius: 4px;
  height: auto;
  box-shadow: 0 7px 29px 0 rgba(0,0,0,.3);

  position: absolute;
  transition: opacity .5s ease-in;
}

.demo-img + .demo-img {
  opacity: 0;
}

.play-button {
  transform: translateZ(40px) scale(.7);
  width: 70px;
  height: 70px;
  font-size: 1.2em;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 35%;
  color: #01d05b;
  box-shadow: 0 6px 15px 4px rgba(14,14,14,.1);
  opacity: 0;
  transition: all .25s ease;
}

.play-button svg {
  margin-left: 3px;
}

.video:hover .play-button {
  opacity: 1;
  transform: translateZ(40px) scale(1);
}

@media screen and (min-width: 768px) {
  .hero-wrapper {
    flex-direction: row;
  }

  .button:last-child {
    margin-left: 1em;
  }

  .video {
    align-items: flex-end;
    justify-content: center;
  }

  .text {
    flex: 0 43%;
  }
}

.ignore-a {
  display: block;
}




.profile-img {
  border-radius: 50%;
  vertical-align: middle;
  margin-left: .3em;
}

footer a {
  text-decoration: none;
  color: #999;
}

footer a:hover {
  text-decoration: underline;
}
